# ── Deployer key ──────────────────────────────────────────────────────────────
PRIVATE_KEY=

# ── Oracle ────────────────────────────────────────────────────────────────────
ORACLE_PRIVATE_KEY=
ORACLE_SERVER_URL=http://localhost:3100
